@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-style: italic;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 958px;
  background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png');
  background-position: center;
}

.banner-content {
  margin-right: 2px;
  width: 304px;
  color: #fff;
}

.banner span {
  display: block;
  text-align: left;
  line-height: 42px;
}

.banner h1 {
  margin-bottom: 32px;
  font-size: 80px;
  font-weight: 900;
  line-height: 106px;
}

.banner-content p {
  text-align-last: left;
  line-height: 1.5;
  margin-bottom: 40px;
}

.banner-content ul {
  display: flex;
  justify-content: space-between;
}

.banner ul img:hover {
  filter: brightness(150%);
}

.about {
  margin: 56px 0;
}

.about h2 {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1.3125;
  font-weight: 500;
}

.about img {
  margin: 0 auto 20px;
}

.about-me li:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}
.about-me li:nth-child(2) {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 24px;
}

.about-experience {
  margin: 0 auto;
  width: 384px;
  border-top: 1px solid #000;
}
.about-experience li {
  margin-top: 28px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.75;
}
.about-experience li::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  background: #891818;
  border-radius: 50%;
  margin-right: 16px;
}
